/*Add underline to this without changing the font. Somehow...*/
.info > h1 {
  color: #1db954;
  font-size: 50px;
  font-style: italic;
  font-family: Gotham;
  font-variant: small-caps;
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: center;
}

.info > h2 {
  color: #1db954;
  font-size: 50px;
  font-style: italic;
  font-family: Gotham;
  font-variant: small-caps;
  font-weight: 100;
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: center;
}

.info > iframe {
  display: block;
}

@media screen and (max-width: 960px) {
  .info > p > .gantt {
    width: 960px;
  }
}
